/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family:"Chalkduster", "Chalkboard SE", "Comic Sans MS", Arial, Helvetica, sans-serif;
	background-color: black;
color: white;
}

a:link {
	color: #7B68EE;
	text-decoration: none;
}

a:visited {
    color: #7B68EE;
    text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	color: blue;
	text-decoration: none;
}

#wrap {
	overflow: hidden;
	position:relative; /* IE7 needs this*/
}

#nav {
	float: left;
	position: relative;
	left:50%;
}

#nav ul {
	float:left; /*IE6 needs this*/
	position:relative;
	left:-50%;
	list-style: none;
}

#nav li {
	float:left;
}

nav a {
	float:left;
	text-decoration: none;
	padding:0 30px; /*variable width*/
}

nav ul {
  list-style-type:none;
  font-size: 2em;
  margin-left: 150px;
}

nav li {
  float:left;
  margin-right:20px;
  
}

#small_nav {
	font-size: 10px;
	}
	



h1 {
    text-align: center;
    color: #DCDCDC;
}

h2 {
	color:#DCDCDC;
}

h3 {
	text-align: center;
}

h2.h2_pedagogy {
	color: #7B68EE;
	text-align: center
}


dl.language-flag-description {
	text-align:center;
	float: left;
	margin: auto;
	padding: 0;
	border-bottom: 1px solid #999;
	
}

.language-flag-description dt {
	clear: left;
	float: left;
	width: 50px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
	
}

.language-flag-description dd {
	float: left;
	width: 90px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}


section {
	font-size:larger;
  width:62%;
  background-color:black;
  margin-right:auto;
  margin-left:auto;
  border-color:black;
  padding:5px;
}

figcaption {
	font-size: small;
}

footer {
	width:100%;
margin-right:auto;
  margin-left:auto;
  padding:5px;
}

#legend {
		width:62%;
margin-right:auto;
  margin-left:auto;
  padding:5px;
}

.red{
	color:red;
}

.blue {
	color: blue;

.white {
	color: white;
}

.pink {
	color: #FF3366;
}

}
footer {
	clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    margin-right:auto;
  margin-left:auto;
    
}

#copyright {
	width: 25%;
	margin: 0 auto;
	color: #DCDCDC;
}



#video_table{
	border:3px;
	margin-left:auto;
	margin-right:auto;
	border-color: #7B68EE;
	border-style:solid;
	border-radius: 20px;
	width: 1040px;
	text-align: center;
}

td.perc {
	border-left: solid 3px #7B68EE;
	padding: 0px 5px 5px 11px;
	
	
}

td.dr {
	padding: 15px 5px 5px 5px;
	
}

iframe.iframe {
	margin-left: 20%;

}

#student_img {
	border:2px solid #7B68EE;
  border-radius:20px;
}

input.submit_button {
	color: white;
	background-color: transparent;
	border: 2px solid red;
	border-radius: 10px;
}

#black {
	color: black;
}

dl.margins-removed {
	margin: 0;
	padding: 0;
}

.margins-removed dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.margins-removed dd {
	margin: 0 0 1em 0;
	padding: 0;
}


aside {
	width:80%;
  margin-right:auto;
  margin-left:auto;

  padding:20px;
  border:1px solid #696;
  border-radius:20px;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
